/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: blue;
  color: #fff;
}

/* utility */
.container {
  max-width: 1100px;
  margin: auto;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}
.logo {
  width: 10%;
  height: 100%;
}

.logo img {
  width: 100%;
  height: 100%;
}

.heading {
  width: 60%;
  height: 100%;
}

.heading img {
  width: 100%;
  height: 100%;
}

/* menu */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: yellow;
  padding: 0 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul a {
  text-decoration: none;
  padding: 13px 18px;
  border: 1px solid #333;
  text-align: center;
  color: #333;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 2px;
}
.menu {
  background-color: yellow;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

/* boxes section */
.boxes {
  display: flex;
  width: 100%;
  height: 300px;
}

.box-1 {
  height: 100%;
  width: 100%;
}

.box-1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.box-2 {
  height: 100%;
  width: 100%;
}
.box-2 iframe {
  width: 100%;
  height: 100%;
}

.box-3 {
  height: 100%;
  width: 100%;
  background: url("./images/highway.jpg") no-repeat center center;
  position: relative;
}

.box-3 p {
  text-transform: uppercase;
  color: lightyellow;
  padding-top: 50px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.box-3 img {
  position: absolute;
  object-fit: cover;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 50%;
}

/* page content section */
.page-content {
  position: relative;
  display: flex;
  height: 400px;
  width: 100%;
}

.text {
  position: absolute;
  top: 100px;
  left: 400px;
  font-size: 35px;
  font-weight: 900;
  transform: rotate(-15deg);
  color: #333;
}
.page-content img {
  border: 20px solid #333;
  width: 80%;
  height: 100%;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: #ccc;
  padding: 20px;
  color: #333;
}

.car-names {
  list-style: none;
}

.car-names li {
  margin-bottom: 10px;
}

.box {
  border: 1px dotted #fff;
  padding: 20px;
  margin: 20px 0;
}

/* footer */
.main-footer {
  background: url("./images/forest.jpg") no-repeat center center/cover;
  color: #fff;
  padding: 40px;
  border: 5px solid #fff;
}

.main-footer .div-1 {
  display: flex;
  justify-content: space-around;
}

.main-footer .div-1 i {
  margin-top: 90px;
}
.main-footer .div-1 h2 {
  margin-bottom: 20px;
}

.main-footer .div-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 5px solid #fff;
  padding: 20px;
  background-color: gray;
  color: #333;
  font-weight: bolder;
  font-size: 20px;
}
